body { 
	 background: linear-gradient(to top, #F08080, #FFFFFF) }
h1 {text-align: center;
color: rgb(178,34,34);}
h2 { text-align: center; 
	background-color: rgb(240,128,128);
	color: rgb(128,0,0); }
form { background-color: rgb(240,128,128);
border-style: dotted;}